[Unit]
AssertPathExists=%h/services/whoami
After=network.target

[Service]
WorkingDirectory=%h/services/whoami
ExecStart=podman compose -f docker-compose.yml up --no-color --abort-on-container-exit
ExecStop=podman compose -f docker-compose.yml down
Restart=always

[Install]
WantedBy=default.target
