[submodule "espejo"]
	path = espejo
	url = https://github.com/mmguero/espejo
	branch = main
[submodule "nginx-ldap"]
	path = nginx-ldap
	url = https://github.com/mmguero/nginx-ldap
	branch = main
[submodule "zeek"]
	path = zeek
	url = https://github.com/mmguero/zeek-docker
	branch = main
