[submodule "services/espejo"]
	path = services/espejo
	url = https://github.com/mmguero/espejo
	branch = master
[submodule "net/nginx-ldap"]
	path = net/nginx-ldap
	url = https://github.com/mmguero/nginx-ldap
	branch = master
