[submodule "espejo"]
	path = espejo
	url = https://github.com/mmguero/espejo
	branch = main
[submodule "nginx-ldap"]
	path = nginx-ldap
	url = https://github.com/mmguero/nginx-ldap
	branch = main
[submodule "zeek"]
	path = zeek
	url = https://github.com/mmguero/zeek-docker
	branch = main
[submodule "qemu-live-iso"]
	path = qemu-live-iso
	url = https://github.com/mmguero/docker-qemu-live-iso
	branch = main
[submodule "glitch-soc-docker"]
	path = glitch-soc-docker
	url = https://github.com/mmguero/glitch-soc-docker
	branch = main