# umami
DATABASE_URL=postgresql://umami:umami@db:5432/umami
DATABASE_TYPE=postgresql
APP_SECRET=replace-me-with-a-random-string
DISABLE_UPDATES=1
DISABLE_TELEMETRY=1

# postgresql
PUID=1000
PGID=1000
POSTGRES_HOST=db
PGPORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_UMAMI_DB=umami
POSTGRES_UMAMI_USER=umami
POSTGRES_UMAMI_PASSWORD=umami
