ALLOWED_IPS=0.0.0.0/0
DNS=1.1.1.1
ENDPOINT_ADDRESS=172.16.0.131:51820
ENDPOINT_KEY=barbaz
KEEPALIVE=25
LOCAL_ADDRESS=192.168.10.13/32
LOCAL_KEY=foobar
MTU=1420
PRESHARED_KEY=
SOCKS_ADDRESS=0.0.0.0:11080