# forgejo
USER_UID=1000
USER_GID=1000
ROOT_URL=http://localhost:3000/
GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=db:5432
GITEA__database__NAME=forgejo
GITEA__database__USER=forgejo
GITEA__database__PASSWD=xxxxxxxxxxxxxxxxxxxxxxxx

# postgresql
PUID=1000
PGID=1000
POSTGRES_HOST=db
PGPORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxx
POSTGRES_FORGEJO_DB=forgejo
POSTGRES_FORGEJO_USER=forgejo
POSTGRES_FORGEJO_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxx
