# forgejo
USER_UID=1000
USER_GID=1000
ROOT_URL=http://localhost:3000/
GITEA__database__DB_TYPE=mysql
GITEA__database__HOST=db:3306
GITEA__database__NAME=forgejo
GITEA__database__USER=forgejo
GITEA__database__PASSWD=forgejo

# mariadb
PUID=1000
PGID=1000
TZ=America/Boise
MYSQL_DATABASE=forgejo
MYSQL_USER=forgejo
MYSQL_PASSWORD=forgejo
MYSQL_ROOT_PASSWORD=forgejo