[Desktop Entry]
Name=Audacity
GenericName=Sound Editor
Comment=Record and edit audio files
Keywords=audio;sound;alsa;jack;editor;
Exec=/home/user/.local/bin/audacity-docker.sh %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=sound
Categories=AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-audacity-project;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;application/ogg;audio/x-vorbis+ogg
StartupWMClass=Audacity
StartupNotify=true
