[Unit]
AssertPathExists=%h/services/glauth
After=network.target

[Service]
WorkingDirectory=%h/services/glauth
ExecStart=podman-compose -f docker-compose-standalone.yml up --no-color --abort-on-container-exit
ExecStop=podman-compose -f docker-compose-standalone.yml down
Restart=always

[Install]
WantedBy=default.target
